CompileFlags:
  CompilationDatabase: build

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: 
      - modernize*
      - performance*
      - bugprone*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-use-constraints
      - bugprone-easily-swappable-parameters

  Suppress:
    - unused-includes

InlayHints:
  Enabled: true