[submodule "3rd/Utils"]
	path = 3rd/Utils
	url = git@github.com:TURIING/Utils.git
[submodule "3rd/volk"]
	path = 3rd/volk
	url = https://github.com/zeux/volk.git
[submodule ".dsh"]
	path = .dsh
	url = git@github.com:TURIING/harness-dotfiles.git
[submodule "3rd/VulkanMemoryAllocator"]
	path = 3rd/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
